@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    margin: 0;
}

.container {
    max-width: 1300px;
    border: 1px solid transparent;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 50px;
}

h1 {
    border: 1px solid transparent;
    font-size: 240%;
    font-family: 'Roboto Slab';
    margin: 0;
}

.overview {
    display: flex;
    font-size: 24px;
    justify-content: space-between;
}

.first {
    width: 56%;
    border: 1px solid transparent;
    font-family: 'Roboto Slab';
    font-weight: 400;
}

.photo  {
    border: 1px solid transparent;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 50px;
}

.footer p, h6 {
    border: 1px solid transparent;
    font-family: 'Roboto Slab';
}
.footer .sectionbar{
    width: 161px;
}

.footer h6 {
    font-size: 25px;
    margin: 0;
}

.footer p {
    font-size: 18px;
    margin: 0;
}

@media screen  and (max-width: 1400px) {
    .container {
        max-width: 830px;
    }
    .footer .image{
        display: none;
    }
    .photo img{
        width: 180px;
    }
    .overview p{
        font-size: 15px;
    }
    .sectionbar p{
        font-size: 11px;
    }
    .sectionbar h6{
        font-size: 15px;
    }
}
@media screen and (max-width: 830px) {
    .container{
        max-width: 378px;

    }
    .overview{
       flex-direction: column;
        align-items: center;
    }
    .overview p{
        font-size: 11px;
    }
    .photo img{
        width: 146px;
    }
    h1{
        font-size: 26px;
    }
   
    .sectionbar p{
        font-size: 10px;
    }
    .sectionbar h6{
        font-size: 12px;
    }
    .first{
        width: 100%;
    }
    .footer .sectionbar:nth-child(4) {
        margin-top: 25px;
    }

}
@media screen and (max-width:398px) {
    .footer {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;
    }
    .footer .sectionbar:nth-child(3) {
        margin-top: 25px;
    }
    
}

